.header {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    a {
        li {
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            letter-spacing: 0.25px;
            color: rgba(255, 255, 255, 0.7);
            cursor: pointer;
            padding: 20px 15px;
            transition: .3s all;
            &:hover {
                background: #1E88E5;
                color: #fff;
            }
            &.active {
                background: #1E88E5;
                color: #fff;  
            }
        }
    }
}
