* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1345px;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.catLoading {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.25px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}